<header>
  <img src="assets/images/aberdeen-city-council.png" id="acclogo">
  <h1>Aberdeen City Council</h1>
  <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/housing">Housing</a>
      <a href="/finance">Finance</a>
      <a href="/health">Health</a>
      <a href="/employment">Employment</a>
      <a href="/abuse">Domestic Abuse</a>
      <a href="javascript:void(0);" class="icon" onclick="resizeNavBar()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
</header>