<!-- views/partials/head.ejs -->
<title>Aberdeen City Council</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="assets/styles.css">
<link rel="icon" href="assets/images/acc_logo.jpg">
<link rel="stylesheet" href="assets/resources.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="assets/scripts/responsive.js"></script>