<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %> 
    </head>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <body>
        <%- include('../partials/resourceTemplate.ejs', {resources: resources}) %>
        <%- include('../partials/footer') %> 
    </body>
</html>