<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %> 
    </head>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <body>
        <%- include('../partials/header') %> 
         

        <!-- form with name, email, password, role? could also store previous chats -->

        <form>
            
        </form>
        <%- include('../partials/footer') %> 
    </body>
</html>