    <!DOCTYPE html>
    <html lan="en">
        
        <head>
            <%- include('../partials/head') %> 
            <script type = "application/javascript" src="openai.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

            <script>
                async function getInput() {
                    const input = document.getElementById("input").value;
                    const conversation = document.getElementById("conversation");
                    const role = document.getElementById("role").value;

                    
                    console.log(JSON.stringify({ prompt: input, role: role})) //DO NOT REMOVE

                    if (!input) {
                        alert("Please enter a message.");
                        return;
                    }

                    conversation.value += `You: ${input}\n`;

                    console.log(JSON.stringify({ prompt: input, role: role})) //DO NOT REMOVE
                    try {
                        const response = await fetch("/", {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({ prompt: input, role: role})

                        });
                        console.log(response.body)
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }

                        const data = await response.json();
                        console.log(data)
                        conversation.value += `AI: ${data.response}\n`;

                        document.getElementById("Mentioned").style.color = 'black';
                        
                        if(data.response.toLowerCase().includes("breathing space")){
                            document.getElementById("bs").style.display = "block"
                        }

                        if(data.response.toLowerCase().includes("abz")){
                            document.getElementById("abz").style.display = "block"

                        }
                        if(data.response.toLowerCase().includes("citizens")){
                            document.getElementById("cas").style.display = "block"

                        }
                        if((data.response.toLowerCase().includes("samh") || (data.response.toLowerCase().includes("scottish association for mental health")))){
                            document.getElementById("samh").style.display = "block"

                        }
                        if(((data.response.toLowerCase().includes("swf") || (data.response.toLowerCase().includes("scottish welfare fund"))))){
                            document.getElementById("swf").style.display = "block"
                            
                        }

                        if(data.response.toLowerCase().includes("conflict resolution")){
                            document.getElementById("scr").style.display = "block"

                        }


                    } catch (error) {
                        console.error("Error:", error);
                        conversation.value += `Error: ${error.message}\n`;
                    }

                    document.getElementById("input").value = "";
                }

                async function getSummary(){
                    const topic = document.getElementById("topic")
                    const conversation = document.getElementById("conversation");

                    conversation.value += "You: give me a brief overview of " + topic.value +  "\n";
                    const role = document.getElementById("role").value;
                    console.log("role in ejs " + role)
                    const input = "give me a brief overview of " + topic.value

                    console.log(JSON.stringify({ prompt: input, role: role})) //DO NOT REMOVE
                    try {
                        const response = await fetch("/", {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({ prompt: input, role: role})

                        });

                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        const data = await response.json();

                        conversation.value += `AI: ${data.response}\n`;

                        document.getElementById("Mentioned").style.color = 'black';
                        
                        if(data.response.toLowerCase().includes("breathing space")){
                            document.getElementById("bs").style.display = "block"
                        }

                        if(data.response.toLowerCase().includes("abz")){
                            document.getElementById("abz").style.display = "block"

                        }
                        if(data.response.toLowerCase().includes("citizens")){
                            document.getElementById("cas").style.display = "block"

                        }
                        if((data.response.toLowerCase().includes("samh") || (data.response.toLowerCase().includes("scottish association for mental health")))){
                            document.getElementById("samh").style.display = "block"

                        }
                        if(((data.response.toLowerCase().includes("swf") || (data.response.toLowerCase().includes("scottish welfare fund"))))){
                            document.getElementById("swf").style.display = "block"
                            
                        }

                        if(data.response.toLowerCase().includes("conflict resolution")){
                            document.getElementById("scr").style.display = "block"

                        }
                    } catch (error) {
                        console.error("Error:", error);
                        conversation.value += `Error: ${error.message}\n`;
                    }
                }

            </script>
        </head>
        <body>
            <%- include('../partials/header') %> 

            <div id="llm">
                <h1>Homelessness Prevention Tool</h1>
                <h3>Find the resources that are right for you with the help of our chat bot.</h3>
                <textarea id="conversation" readonly></textarea>

                <h2>User Input</h2>
                <textarea id="input"></textarea>
                <br><br>

                <label id="whoYou" for="role">Who are you asking for?</label><br>
                <select name="role" id="role">
                    <option value="user">Yourself</option>
                    <option value="service">Someone you know</option>
                </select>
                <button id="sendbutton" onclick="getInput()">send</button>
                <br><br>

                <h3>or choose a topic below to get a brief overview</h3>
                <select name="topic" id="topic">
                    
                    <option value="Finance">Finance</option>
                    <option value="Health">Health</option>
                    <option value="homelessness">homelessness</option>
                    <option value="Employment">Employment</option>
                    <option value="Domestic Abuse">Domestic Abuse</option>
                </select>
                <button id="summaryButton" onclick="getSummary()">get summary</button>


                <div id="boxMentioned">
                    <h2 id="Mentioned">Mentioned websites:</h2>
                    <p id="swf"><a href=https://www.aberdeencity.gov.uk/services/benefits-and-advice/apply-scottish-welfare-fund>Scottish Welfare Fund (SWF)</a></p>
                    <p id="bs"><a href="https://www.breathingspace.scot/ "> Breathing Space</a></p>
                    <p id="abz"><a href="https://abzworks.co.uk/">ABZ Works</a></p>
                    <p id="cas"><a href="https://www.cas.org.uk/helptoclaim">Citizens advice</a></p>
                    <p id="samh"><a href="https://www.samh.org.uk/">Scottish Association for Mental Health (SAMH)</a></p>
                    <p id="scr"><a href="https://www.scottishconflictresolution.org.uk/">Scottish Conflict Resolution</a></p>
                </div>

                <div id="downloadButton">
                    <h2>Download your conversation here:</h2>
                    <button type="button" onclick="download('output.txt')">Download</button>
                </div>
            </div>
            
              <%- include('../partials/footer') %> 
        </body>    
        
    </html>